[user]
    name = Usman Khan
    email = usmankhan9190@gmail.com

[color]
    ui = true

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    lg = log --oneline --graph

[core]
    editor = /usr/bin/vim
