# theme = "Gruvbox Dark Hard"
theme = "Catppuccin Latte"
# theme = "Builtin Solarized Light"

# Use brighter variant for red to help with legibility (for Gruvbox only).
# palette = "1=#FB4934"

font-size = 18
font-family = "Berkeley Mono"
font-family = "Iosevka Term"
font-family = "JetBrainsMono NFM"
font-style-italic = false
font-style-bold-italic = false
font-synthetic-style = false
# Disable all ligatures (e.g. -> => ==)
font-feature = "-calt, -liga, -dlig"

adjust-cell-height = 15%
adjust-underline-position = 15%

cursor-color = "#3478f6"
# Gruvbox cursor
# cursor-color = "#928374"
cursor-text = "#ffffff"
cursor-style-blink = false
mouse-hide-while-typing = true
mouse-scroll-multiplier = 0.5
copy-on-select = "clipboard"

unfocused-split-opacity = 0.95
unfocused-split-fill = #000000

window-padding-balance = true
window-colorspace = display-p3
window-title-font-family = "Berkeley Mono"
macos-titlebar-style = "tabs"
macos-non-native-fullscreen = "visible-menu"
bell-features = "no-title,attention"

# Keybinds
## Tabs
# keybind = ctrl+a>c=new_tab
# keybind = ctrl+a>n=next_tab
# keybind = ctrl+a>p=previous_tab

## Splits
# keybind = ctrl+a>v=new_split:right
# keybind = ctrl+a>s=new_split:down
# keybind = ctrl+a>z=toggle_split_zoom
# keybind = alt+h=goto_split:left
# keybind = alt+j=goto_split:bottom
# keybind = alt+k=goto_split:top
# keybind = alt+l=goto_split:right
# keybind = ctrl+a>equal=equalize_splits
