theme = "Gruvbox Dark Hard"
# theme = "Catppuccin Mocha"

# Use brighter variant for red to help with legibility (for Gruvbox only).
palette = "1=#FB4934"

font-size              = 17
font-family            = "IBM Plex Mono"
font-thicken           = true
font-thicken-strength  = 0
# font-style-italic      = false
# font-style-bold-italic = false
font-synthetic-style   = false
# Disable all ligatures (e.g. -> => ==, >=, >>=)
font-feature           = "-calt, -liga, -dlig"

adjust-cell-height        = 20%
adjust-underline-position = 10%

cursor-color            = "#3478f6"
# Gruvbox cursor
# cursor-color          = "#928374"
cursor-text             = "#ffffff"
cursor-style-blink      = true
mouse-hide-while-typing = true
mouse-scroll-multiplier = 0.5
copy-on-select          = "clipboard"

unfocused-split-opacity = 0.75
unfocused-split-fill    = #000000

window-padding-balance      = true
window-colorspace           = display-p3
# window-title-font-family    = "Berkeley Mono"
macos-titlebar-style        = "transparent"
macos-titlebar-proxy-icon   = "hidden"
macos-non-native-fullscreen = true
bell-features               = "no-title,attention"

# Keybinds
## Tabs
# keybind = ctrl+a>c=new_tab
# keybind = ctrl+a>n=next_tab
# keybind = ctrl+a>p=previous_tab
# keybind = ctrl+a>1=goto_tab:1
# keybind = ctrl+a>2=goto_tab:2
# keybind = ctrl+a>3=goto_tab:3
# keybind = ctrl+a>4=goto_tab:4
# keybind = ctrl+a>5=goto_tab:5
# keybind = ctrl+a>6=goto_tab:6
# keybind = ctrl+a>7=goto_tab:7
#
# ## Splits
# keybind = ctrl+a>v=new_split:right
# keybind = ctrl+a>s=new_split:down
# keybind = ctrl+a>z=toggle_split_zoom
#
# ## Split Navigation
# keybind = alt+h=goto_split:left
# keybind = alt+j=goto_split:bottom
# keybind = alt+k=goto_split:top
# keybind = alt+l=goto_split:right
# keybind = ctrl+a>h=goto_split:left
# keybind = ctrl+a>j=goto_split:bottom
# keybind = ctrl+a>k=goto_split:top
# keybind = ctrl+a>l=goto_split:right
# keybind = ctrl+a>equal=equalize_splits
#
# keybind = shift+enter=text:\x1b\r
